<!-- templates/recipes/form.html -->
{% extends "base.html" %}

{% block content %}
    <h2>{{ action }} Recipe</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
            {% for error in form.description.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.ingredients.label(class="form-label") }}
            {{ form.ingredients(class="form-control") }}
            {% for error in form.ingredients.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.instructions.label(class="form-label") }}
            {{ form.instructions(class="form-control") }}
            {% for error in form.instructions.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
